html *
{
    font-family: Tahoma, Helvetica, sans-serif;
}
h1
{
    font-size: 1.8em;
}
h2
{
    font-size: 1.2em;
}
p, body{
    font-size:  0.9em;
}
header {
    margin: 2em 5em 2em 5em;
    background-color: #F5F5F5;
}
article#center{

}
article#right-sidebar{
    float: right;
    margin: 2em 5em 2em;
}
